.DS_Store
__pycache__

*.o

sandbox*
othello
test
parser
mcts_v_edax

Edax/

# ignore training data and trained models
move_predictor/data/
move_predictor/data.*
move_predictor/data_symmetric.*
move_predictor/best_*
move_predictor/trained_*

